.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

div#cormenu{background-color:  #018787;}
ul#cormenu{background-color:  #018787;}
a#cormenu{background-color:  #018787;}
button#cormenu{background-color:  #018787;}
a#PainelInicial{padding-left: 0.7rem;}
hr#linha{
    
    border-top: 3px solid rgb(255, 255, 255);
  
   opacity: 1;
   
}